@charset "UTF-8";

.body-404 {
 	
    position:fixed;
    right:400px ;
    top:40px;
}
.cricoin-video {
 	
    position:fixed;
    right:400px ;
    top:100px;
}
.productos-video {
 	
    position:fixed;
    right:400px ;
    top:100px;
}